[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "==7.6.1"
pydantic = "==2.11.7"
requests = "==2.32.5"

[dev-packages]

[requires]
python_version = "3.12"
